PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb://your_db_user:your_password@cluster.mongodb.net/dbname
JWT_SECRET=your_jwt_secret_key
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password
ADMIN_SECRET_KEY=your_admin_secret_key
ORS_API_KEY=your_ors_api_key
BREVO_API_KEY=your_brevo_api_key
SENDER_NAME=Your Sender Name
SENDER_EMAIL=your_sender_email@example.com
REPLY_TO=your_reply_to_email@example.com
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_WHATSAPP_FROM=+1234567890
ADMIN_PHONE=+1234567890
ADMIN_WHATSAPP=whatsapp:+1234567890
ADMIN_EMAIL_NOTIFY=admin_notify@example.com